.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
}

.grid .item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.demo1 .item-special {
  background-color: orange;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.demo2 .item-span {
  background-color: orange;
  grid-column: span 2;
  grid-row: span 2;
}
