.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px 0;
  height: 300px;
}

.grid .item {
  text-align: center;
}

.justify-items { justify-items: center; }
.align-items { align-items: center; }
.place-items { place-items: center; }
.place-content { place-content: center; }
