.container {
  flex-wrap: wrap;
  height: 300px;
  width: 300px;
  border: 3px solid red;
}

.item {
  width: 80px;
  height: 60px;
}

.start { align-content: flex-start; }
.center { align-content: center; }
.end { align-content: flex-end; }
.between { align-content: space-between; }
.around { align-content: space-around; }
.stretch { align-content: stretch; }
